{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/tableauScroll.css') }}">{% endblock %}
{% block title %}Hello MainController!{% endblock %}

{% block body %}

    <div class="container">

        {# --------------------- TRAITEMENT DES FILTRES --------------------- #}
        <div class="filtres">
            <h2>Filtrer les sorties</h2>

            <form class="col-12 row" method="post" action="">
                <div class="gauche col-6 row">
                    <div class="form-group row col-12">
                        <label for="inputEmail3" class="col-sm-6 col-form-label">Site : </label>
                        <div class="col-sm-6">
                            <select class="form-control" name="site">
                                {% if sites is defined %}
                                    {% for site in sites %}
                                        <option name="site" value="{{ site.id }}">{{ site.nom }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group row col-12">
                        <label for="inputSearch" class="col-sm-6 col-form-label">Recherche par nom</label>
                        <div class="col-sm-6">
                            <input type="search" class="form-control" name="search">
                        </div>
                    </div>
                    <div class="form-group row col-12">
                        <label for="inputDate" class="col-sm-2 col-form-label">Entre</label>
                        <div class="col-sm-4">
                            <input type="date" class="form-control" id="inputDate" name="dateDebut">
                        </div>
                        <label for="inputDate2" class="col-sm-1 col-form-label"> et </label>
                        <div class="col-sm-4">
                            <input type="date" class="form-control" id="inputDate2" name="dateFin">
                        </div>
                    </div>
                </div>


                {# --------------------- CHECKBOX POUR LES FILTRES --------------------- #}
                <div class="milieu col-4 row">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="1" id="defaultCheck1" name="checkbox1">
                        <label class="form-check-label" for="defaultCheck1">
                            Sorties dont je suis l'organisateur
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="2" id="defaultCheck1" name="checkbox2">
                        <label class="form-check-label" for="defaultCheck1">
                            Sorties auxquelles je suis inscrit
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="3" id="defaultCheck1" name="checkbox3">
                        <label class="form-check-label" for="defaultCheck1">
                            Sorties auxquelles je ne suis pas inscrit
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="4" id="defaultCheck1" name="checkbox4">
                        <label class="form-check-label" for="defaultCheck1">
                            Sorties passées
                        </label>
                    </div>

                </div>
                <div class="droite col-2">
                    <button type="submit" class="btn btn-lg btn-primary">Rechercher</button>
                </div>
            </form>
        </div>


        {# --------------------- TABLEAU POUR ECRAN ORDINATEUR --------------------- #}
        <div class="tableauSortie d-none d-lg-block">
            <table class="table table-hover table-striped">
                <thead class="thead-dark">
                <tr>
                    {#1#}
                    <th scope="col">Nom de la sortie</th>
                    {#2#}
                    <th scope="col">Date de la sortie</th>
                    {#3#}
                    <th scope="col">Clôture</th>
                    {#4#}
                    <th scope="col">Inscrits / Places</th>
                    {#5#}
                    <th scope="col">État</th>
                    {#6#}
                    <th scope="col">Inscrit</th>
                    {#7#}
                    <th scope="col">Organisateur</th>
                    {#8#}
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody class="tbody">
                {% for sortie in sorties %}
                    <tr>

                        {#1#}

                        <td><a href="{{ path('sortieDetails', {'id': sortie.id}) }}">{{ sortie.nom }}</a></td>

                        {#2#}

                        <td>{{ sortie.dateHeureDebut | date('d/m/Y') }}</td>

                        {#3#}

                        <td>{{ sortie.dateLimiteInscription | date('d/m/Y') }}</td>

                        {#4#}

                        <td>{{ sortie.users.count() }}/{{ sortie.nbInscriptionsMax }}</td>

                        {#5#}

                        <td>{{ sortie.etat.libelle }}</td>

                        {#6#}

                        {% if app.user in sortie.users %}
                            <td>X</td>
                        {% else %}
                            <td></td>
                        {% endif %}

                        {#7#}

                        <td>
                            <a href="{{ path('userDetails', {'id': sortie.organisateur.id}) }}">{{ sortie.organisateur.pseudo }}</a>
                        </td>

                        {#8#}

                        <td><a href="{{ path('sortieDetails', {'id' : sortie.id}) }}">Afficher</a>
                            {% if sortie.organisateur.id == app.user.id %}
                            <a href="{{ path('sortieModif', {'id': sortie.id}) }}">Modifier</a>
                            <a href="{{ path('sortieDetailCancel', {'id': sortie.id}) }}">Annuler</a></td>
                    {% elseif app.user in sortie.users %}
                        <p><a href="{{ path('desinscriptionSortie', {'id': sortie.id}) }}"> Se désinscrire </a></p>
                    {% else %}
                        {% set nb = (sortie.users.count) %}

                        {% if nb < sortie.nbInscriptionsMax %}

                            <td><a href="{{ path('inscriptionSortie', {'id': sortie.id}) }}"> S'inscire</a></td>
                        {% else %}
                            <td><p class="cloture">Clôture des inscriptions</p></td>
                        {% endif %}

                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>


        {# --------------------- TABLEAU POUR PETIT ECRAN --------------------- #}
        <div class="tableauSortie2 d-block d-lg-none ">
            <table class="table table-hover table-light table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Nom de l'Évènement</th>
                    <th scope="col">Date</th>
                    <th scope="col">Lieu</th>

                </tr>


                </thead>
                <tbody class="tbod">
                {% for sortie in sorties %}
                    <tr>
                        <td>{{ sortie.nom }}</td>
                        <td>{{ sortie.dateHeureDebut | date('d/m/Y') }}</td>
                        <td>{{ sortie.lieu.ville.nom }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>


        </div>


    </div>

    {# --------------------- BOUTON CREATION D'UNE NOUVELLE SORTIE --------------------- #}
    <div>
        <a class="btn btn-primary" href="{{ path('sortieCreate') }}" role="button">Créer une sortie </a>
    </div>


{% endblock %}
