{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <h3>Afficher une Sortie</h3>

    {% if (sortie.etat != 'Annulé') %}
        <div class="row"></div>
        <div class="col-12">
            <div class="haut">

                <table class="table table-light container">
                    <tr>
                        <th scope="col">Nom de la sortie :</th>
                        <td>{{ sortie.nom }}</td>
                    </tr>
                    <tr>
                        <th scope="col">Date et heure de la sortie :</th>
                        <td>{{ sortie.dateHeureDebut | date('d/m/y') }}</td>
                    </tr>
                    <tr>
                        <th scope="col">Date limite d'inscription</th>
                        <td>{{ sortie.dateLimiteInscription | date('d/m/y') }}</td>
                    </tr>
                    <tr>
                        <th scope="col">Nombre de places</th>
                        <td>{{ sortie.nbInscriptionsMax }}</td>
                    </tr>
                    <tr>
                        <th scope="col">Durée</th>
                        <td>{{ sortie.duree }}</td>
                    </tr>
                    <tr>
                        <th scope="col">Description et infos</th>
                        <td>{{ sortie.infosSortie }}</td>
                    </tr>
                    <tr>
                        <th scope="col">Lieu</th>
                        <td>{{ sortie.lieu.nom }}</td>
                    </tr>
                    <tr>
                        <th scope="col">Rue</th>
                        <td>{{ sortie.lieu.rue }}</td>
                    </tr>
                    <tr>
                        <th scope="col">Ville</th>
                        <td>{{ sortie.lieu.ville.nom }}</td>
                    </tr>
                    <tr>
                        <th scope="col">Code Postal</th>
                        <td>{{ sortie.lieu.ville.codePostal }}</td>
                    </tr>
                    <tr>
                        <th scope="col">Latitude</th>
                        <td>{{ sortie.lieu.latitude }}</td>
                    </tr>
                    <tr>
                        <th scope="col">Longitude</th>
                        <td>{{ sortie.lieu.longitude }}</td>
                    </tr>
                </table>
                <hr>

            </div>
        </div>
        <div class="container-sm"> <!--doublon div responsive supprimé-->
            <div class="row">
                <div class="col-12">
                    <table class="table table-responsive-sm table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Pseudo</th>
                            <th scope="col">Nom / Prenom</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in sortie.users %}
                        <tr>
                            <td scope="col">{{user.pseudo}}</td>
                            <td scope="col">{{user.nom}} {{ user.prenom }}</td>
                            <td><a href="{{ path('userDetails', {'id': user.id}) }}">Details</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
        <div class="buttonUserDetails">
            <a class="btn btn-primary buttonUserDetails" href="{{ path ('main') }}" role="button">Retour</a>
        </div>

        {#        Si la sortie est "Annulé" on affiche les informations suivantes + "motifAnnulation"    #}
    {% else %}

        <div>
            <p>Nom de la sortie : {{ sortie.nom }}</p>
            <p>Date de la sortie : {{ sortie.dateHeureDebut | date('d/m/Y') }}</p>
            <p>Site organisateur : {{ sortie.site }}</p>
            <p>Lieu : {{ sortie.lieu.ville.nom }} </p>
            <p>Details : {{ sortie.infosSortie }}</p>
            <p><strong>Motif : {{ sortie.motifAnnulation }}</strong></p>

            <a class="btn btn-primary buttonUserDetails" href="{{ path("main") }}" role="button">Retour</a>

        </div>

    {% endif %}

{% endblock %}