{% extends 'base.html.twig' %}

{% block title %}Liste des Sorties Archivées{% endblock %}

{% block body %}

    <div class="text-center formAdminButtonSortie">
        <a class="btn btn-primary buttonUserDetails" href="{{ path("adminArchiSortieList") }}" role="button">Retour</a>
    </div>

    <div class="tableauSortie d-none d-lg-block">
        <table class="table table-hover table-striped container">
            <thead class="thead-dark">
            <tr>
                {#1#}
                <th scope="col">Nom de la sortie</th>
                {#2#}
                <th scope="col">Date de la sortie</th>
                {#4#}
                <th scope="col">Organisateur</th>
            </tr>
            </thead>

            <tbody class="tbody">
            {% for sortie in sorties %}
                    <tr>
                        {#1#}
                        <td><a href="{{ path('sortieDetails', {'id': sortie.id}) }}">{{ sortie.nom }}</a></td>

                        {#2#}
                        <td>{{ sortie.dateHeureDebut | date('d/m/Y') }}</td>

                        {#4#}
                        <td>
                            <a href="{{ path('userDetails', {'id': sortie.organisateur.id}) }}">{{ sortie.organisateur.pseudo }}</a>
                        </td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}