{% extends 'base.html.twig' %}

{% block title %}Annuler une sortie{% endblock %}

{% block body %}

    <h2 class=text-center>Annuler une sortie</h2>

    <div>
        <p>Nom de la sortie : {{ sortie.nom }}</p>
        <p>Date de la sortie : {{ sortie.dateHeureDebut | date('d/m/Y') }}</p>
        <p>Site organisateur : {{ sortie.site }}</p>
        <p>Lieu : {{ sortie.lieu.ville.nom }} </p>

        <form method="post" action="{{ path('sortieMotifAnnulation', {'id': sortie.id} ) }}">

            <label id="motifAnnulation">Motif : </label>
            <textarea id="motifAnnulation" name="motifAnnulation" rows="5" cols="33" required></textarea>

            <div class="text-center">
                <button class="btn btn-primary buttonUserDetails" type="submit"> Enregistrer</button>
                <a class="btn btn-primary buttonUserDetails" href="{{ path("main") }}" role="button">Retour</a>
            </div>
        </form>
    </div>


{% endblock %}
