{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-8 offset-2">

            {{ form_start(userForm) }}

            {{ form_row(userForm.pseudo) }}
            {{ form_row(userForm.prenom) }}
            {{ form_row(userForm.nom) }}
            {{ form_row(userForm.telephone) }}
            {{ form_row(userForm.email) }}
            {{ form_row(userForm.password) }}

{#    TO DO        #}
{#            {{ form_row(userForm.CONFIRMATION_password) }}#}
          {{ form_row(userForm.site) }}
{#          {{ form_row(userForm.MA_PHOTO) }}#}

{#      bouton ENREGISTRER(les modifications) - bouton ANNULER( retour Accueil)      #}
            <button type="submit" class="btn btn-primary btn-lg">Enregistrer</button>
            <a href="{{path('main')}}" class="btn btn-primary btn-lg active" role="button" title="Lien 1">Annuler</a>


            {{ form_end(userForm) }}

        </div>
    </div>

{% endblock %}