{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <h3>Mon profil</h3>

    <div class="row">
        <div class="col-8 offset-2">

            {{ form_start(userForm) }}

            {{ form_label(userForm.pseudo) }}
            {{ form_widget(userForm.pseudo) }}

            {{ form_label(userForm.prenom) }}
            {{ form_widget(userForm.prenom) }}

            {{ form_label(userForm.nom) }}
            {{ form_widget(userForm.nom) }}

            {{ form_label(userForm.telephone) }}
            {{ form_widget(userForm.telephone) }}

            {{ form_label(userForm.email) }}
            {{ form_widget(userForm.email) }}

            {{ form_label(userForm.plainPassword.first) }}
            {{ form_widget(userForm.plainPassword.first) }}

            {{ form_label(userForm.plainPassword.second) }}
            {{ form_widget(userForm.plainPassword.second) }}

            {{ form_label(userForm.site) }}
            {{ form_widget(userForm.site) }}


            {#      bouton ENREGISTRER(les modifications) - bouton ANNULER( retour Accueil)      #}
            <div class="buttonUserForm">
                <button type="submit" class="btn btn-primary btn-lg">Enregistrer</button>
                <a href="{{ path('main') }}" class="btn btn-primary btn-lg active" role="button"
                   title="Lien 1">Retour</a>
            </div>

            {{ form_end(userForm) }}

        </div>
    </div>

{% endblock %}